@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Open Sans", sans-serif;
}

h2 {
  margin-bottom: $h2-margins;
}

h3 {
  margin-top: $h3-margins/2;
  margin-bottom: $h3-margins;
}

.SRLCaption {
  display: none;
}
