.gallery {
  text-align: center;
  margin: 50px auto 0;
  max-width: 1024px;

  &__text {
    line-height: $text-line-height;
    width: 90%;
    margin: 0 auto;
    font-size: $text-size;

    @include media-text-size(768px, 1.3, 1.3);
  }
}

.photoList {
  display: flex;
  margin-top: 30px;

  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  height: 100px;

  &__item {
    flex-shrink: 0;
    width: 40%;
    list-style: none;
    overflow: hidden;
  }

  &__photo {
    height: 100%;
  }
}
