.gallery {
  text-align: center;
  margin-top: 50px;

  &__text {
    line-height: $text-line-height;
  }
}

.photoList {
  display: flex;
  margin-top: 30px;

  overflow: scroll;

  height: 100px;

  &__item {
    list-style: none;
    width: 33%;
    flex-shrink: 0;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
