.ideas {
  max-width: 1280px;
  margin: 0 auto;

  &__title {
    text-align: center;
    padding: 30px;
    margin: $h2-margins * 2 0 0 0;
  }

  &__logos {
    display: flex;
    padding: 30px 0;
    background-color: #ddd;
  }

  &__arrowLeft,
  &__arrowRight {
    height: 85px;
    width: 50px;
    line-height: 85px;
    text-align: center;
    background-color: transparent;
    border: none;
  }

  &__visibleLogos {
    width: 90%;
    background-image: url("../../img/icons.png");
    background-size: 720px;
    background-position: 0 0;
    transition: 0.2s;
  }
}
