.intro {
  width: 70%;
  margin: 100px auto 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__icon {
    width: 50px;
  }

  &__title {
    margin-bottom: 30px;
  }
}
