.news {
  margin: 50px 0;
  color: $text-color;
}

.post {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 30px 0;
  text-align: center;
  margin: 20px 0;

  &__date {
    display: inline-block;
    font-size: 12px;
  }

  &__text {
    width: 80%;
    margin: 0 auto;
    line-height: $text-line-height;
  }
}
