.header {
    height: 100vh;
    width: 100%;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .3)),
        url('../../img/fogpath.jpg');
    background-position: 0 0, -300px 0, ;
    background-size: cover;
    background-repeat: no-repeat;


    position: relative;
}

.banner {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 0;
    width: 70%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__title {
        text-transform: uppercase;
    }

    &__line {
        display: block;
        width: 80px;
        height: 8px;
        background-color: black;
        margin: 10px 0;
    }

    &__text {
        color: #fff;
        line-height: 25px;
    }

    &__btn {
        text-decoration: none;
        background-color: transparent;
        margin-top: 20px;
        border: 2px solid black;
        padding: 5px 20px;
        color: #ddd;
        font-weight: bold;

    }


}